.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --clients-icon-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ---------LOGO--------- */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-right: 93px;
}

.logo-accent {
  color: var(--accent-color);
}

/* ---------HERO-BUTTON---------- */
.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.8);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
}

.modal__button {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.modal__img {
  margin-right: 0;
  padding: 0;
}
.modal__img:hover {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal__lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 20px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.input-wrap__icon {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}
.modal__input:focus + .input-wrap__icon {
  fill: var(--accent-color);
}

.modal__comment {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus {
  border-color: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 9px;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
}

.checkbox__link {
  color: var(--accent-color);
}

.submit-button {
  display: flex;
  justify-content: center;
  height: 50px;
  min-width: 200px;
}

.submit-button__text {
  padding: 10px 28px;
  height: 50px;
  min-width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

/* --------PAGE HEADER----------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header__container {
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 50px;
}
.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav__link {
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  text-decoration: none;
}
.site-nav__link.current {
  color: var(--accent-color);
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .link:hover, .contacts .link:focus {
  color: var(--accent-color);
}
.contacts.list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

/* -------------HERO------------- */
.hero {
  height: 600px;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero.jpg);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto;
  width: 696px;
}

.hero .button {
  min-width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero .text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 0.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.card {
  width: 270px;
}
.card::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.features-card {
  width: 270px;
}

.features .feauture-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}
.features .feature-text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.features.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagrama::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.section.section-offer {
  padding-top: 0px;
}

.list.offer-items {
  display: flex;
  gap: 30px;
}

.offer-img {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.offer-img-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/* -------------TEAM------------ */
.team-members {
  background: var(--secondary-background-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-list .team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  text-align: center;
}
.team-list .team-member-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-list-image {
  width: calc((100% - 90px) / 4);
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-card-text {
  padding: 30px 0;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--white-color);
}

/* ------------------CLIENTS ----------------*/
.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list__item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: var(--clients-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

/* ------------FOOTER-CONTACTS----------*/
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: flex;
  margin-right: 0px;
  margin-bottom: 20px;
}

.logo-studio--white {
  color: var(--white-color);
}

.address__list {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address__list > .contacts {
  margin-bottom: 9px;
}

.footer .address__list .link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer .address__list .location {
  color: var(--white-color);
  display: inline-block;
}

.footer-wrap > .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.soc {
  height: 80px;
}

.soc__action {
  margin-bottom: 20px;
}

.soc__text {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.soc__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc__item {
  width: 44px;
  height: 44px;
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
}

.soc__icon {
  fill: var(--white-color);
}

.subscribe__wrap {
  display: flex;
  gap: 12px;
}

.subscribe__lable {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe__input {
  padding: 15px;
  width: 358px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__button {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.subscribe__icon {
  fill: var(--white-color);
}

/* ----------PORTFOLIO-FILTER------------ */
.filter-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.filter-btn-list .filter-btn {
  display: inline-block;
  padding: 6px 22px;
  background-color: var(--secondary-background-color);
  color: var(--tittle-text-color);
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn-list .filter-btn:hover, .filter-btn-list .filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-card {
  border: 1px solid #eeeeee;
}

.project-card-img {
  position: relative;
  overflow: hidden;
}

.project-card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.project-card:hover .project-card-overlay, .project-card:focus .project-card-overlay {
  transform: translateY(0);
}

.project-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card-text {
  padding: 20px 24px;
}

.projects-all {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-all .project-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
}
.projects-all .project-type {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-image {
  width: calc((100% - 60px) / 3);
}/*# sourceMappingURL=main.css.map */