
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.8);
  transition-property: opacity, visibility;
  @include transition;

  &.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 450px;
  min-height: 609px;

  background-color: var(--white-color);


  @include desktop {
     min-width: 528px;
  min-height: 581px;
  }
}

.modal__button {
  @include flex;
  position: absolute;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  margin: 0;
  padding: 0;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.modal__img {
  margin-right: 0;
  padding: 0;

  &:hover {
  fill: var(--accent-color);
}
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}

.modal__lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 20px;
  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color, fill;
  @include transition;

  &:focus {
  border-color: var(--accent-color);
}

}

.input-wrap__icon {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);

  .modal__input:focus + & {
  fill: var(--accent-color);
}
}

.modal__comment {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 10px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  transition-property: border-color;
  @include transition;

  &:focus {
  border-color: var(--accent-color);
}
}

