


.card {
  width: 100%;

  &::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
  @include tablet {
  width: calc((100% - 30px) / 2);
  }
  @include desktop {
  width: calc((100% - 90px) / 4);
  }
}

.features-card {
  width: 100%;

}

.features {

  .feauture-title {
  margin-bottom: 10px;
  text-align: center;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
  
  @include tablet {
  text-align: left;
  }
}

  .feature-text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
  &.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagrama::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}



