/* --------PAGE HEADER----------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header__container {
  display: flex;
}

.header__nav {
  @include flex;
}

.site-nav {
  display: flex;
  gap: 50px;

  .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  transition-property: color;
  @include transition;

  &:hover,
  &:focus {
  color: var(--accent-color);
}
}
}


.site-nav__link {
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  text-decoration: none;

  &.current {
  color: var(--accent-color);
}
}

.current {
  position: relative;

  &::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  background: var(--accent-color);
  border-radius: 2px;
}
}

.contacts {

  .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  @include transition;

  &:hover, &:focus {
    color: var(--accent-color);
  }
}
  &.list {
  @include flex;
  margin-left: auto;
  gap: 50px;
}
}

.contacts__link {
  @include flex;
  justify-content: center;
  transition-property: fill;
}
.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  @include transition;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}



