/* --------PAGE HEADER----------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
  
}

.header__nav {
  @include flex;
  
}

.site-nav {
  // display: flex;
  display: none;
  gap: 50px;
  

  .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  transition-property: color;
  @include transition;

  &:hover,
  &:focus {
  color: var(--accent-color);
}
}
}

.site-nav__link {
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  text-decoration: none;

  &.current {
  color: var(--accent-color);
}
}

.current {
  position: relative;

  &::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  background: var(--accent-color);
  border-radius: 2px;
}
}

.contacts {
  

  .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  @include transition;

  &:hover, &:focus {
    color: var(--accent-color);
  }
}
  &.list {
  @include flex;
  display: none;
  margin-left: auto;
  gap: 50px;
}
}

.contacts__link {
  @include flex;
  justify-content: center;
  transition-property: fill;
}
.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  @include transition;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}

.menu-button {
display: inline-flex;
margin: 0;
padding: 0;
border: none;
background-color: transparent;

.icon-close {
  display: none;
}
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  text-align: center;
  padding: 24px;
  font-size: 20px;
  background-color: aqua;

  &.is-open {
    display: block;
  }
}
