/* -------------HERO------------- */
.hero {
  max-width: 480px;
  height: 400px;
  text-align: center;
  padding: 118px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:  
  var(--hero-gradient) ,
  url(../images/Hero-mob.jpg);

  @include retina {
    background-image:  
  var(--hero-gradient) ,
  url(../images/Hero-mob2x.jpg);
}

  @include tablet {
    max-width: 768px;
    height: 400px;

  background-image: 
  var(--hero-gradient) ,
  url(../images/Hero-tab.jpg);

  @include retina {
    background-image:  
  var(--hero-gradient) ,
  url(../images/Hero-tab2x.jpg);
}
  }
  @include desktop {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;

    background-image: 
    var(--hero-gradient) ,
  url(../images/Hero.jpg);

  @include retina {
    background-image:  
  var(--hero-gradient) ,
  url(../images/Hero2x.jpg);
}
  }

  .button {
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 1200px) {
  min-width: 216px;
  }
}
  .text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 0.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
}

.hero-title {
  width: 100%;
  margin: 0px auto;

  font-size: 26px;
  line-height: 1.6;
  font-weight: 900;
  
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
  
    @include tablet {
    width: 360px;
  }
  @include desktop {
    width: 696px;
  font-size: 44px;
  line-height: 1.4;

  }
}

