/* -------------TEAM------------ */


.team-members {
  background: var(--secondary-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  text-align: center;
}
  .team-member-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
}

.team-list-image {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-card-text {
  padding: 30px 0;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}


.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @include flex;
  justify-content: center;
  transition-property: background-color;
  @include transition;
  &:hover , &:focus {
  background-color: var(--accent-color); 
  }
}

.team-soc-icon {
  fill: #afb1b8;
  transition-property: fill;
  @include transition;

  .team-soc-link:hover &,
  .team-soc-link:focus & {
  fill: var(--white-color);
  }
}
